@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(218, 59, 63, 0) 15.06%, #DA3B3F 100%), 
    linear-gradient(179.29deg, #CF2425 11.93%, rgba(207, 36, 37, 0) 99.39%);
    mix-blend-mode: normal;
    color: white;
}

header {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    gap: 20px;
}

main {
    display: flex;
    flex-grow: 1;
    background-image: url(img/coca-cola-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

main img {
    height: 80vh;
    width: auto;
}

main h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 4vh;
    margin-left: -250px;
    width: 250px;
    line-height: 44px;
    text-align: right;
}

.global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 12px;
    gap: 10px;
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

@media (max-width: 768px) {
        header {
            height: 10%;
        }
        main {
            flex-direction: column;
            height: 80%;
        }
        main img {
            height: 60%;
        }
        main h1 {
            margin-left: -10%;
        }
        footer {
            height: 10%;
        }
}

